@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
*{box-sizing: border-box;
font-family: 'Karla', sans-serif;}

.attribution {
     font-size: 11px;
     text-align: center;
 }

 .attribution a {
     color: hsl(228, 45%, 44%);
 }

 .row {
     max-width: 750px;
     height: 500px;
     margin: 150px auto;

     box-shadow: 12px 13px 52px -1px black;
 }

 #header {
     position: relative;
     max-width: 750px;
     height: 250px;
     background-color: white;

 }

 #header .alltxt {
     color: hsl(179, 62%, 43%);
     position: absolute;
     padding: 3px;
     top: 2px;
     left: 38px;
    
 }

 #header .txtall {
     color: hsl(71, 73%, 54%);
     position: absolute;
     padding: 3px;
     top: 55px;
     left: 38px;
 }

 #header p {
     color: hsl(204, 12%, 25%);
     position: absolute;
     padding: 12px;
     text-align: left;
     width: 600px;
     top: 105px;
     left: 34px;
 }

 [class*="col-6"] {
     float: left;
     padding: 20px;
     width: 66%;
     height: 50%;
     
 }

 .col {
     background-color: hsl(179, 62%, 43%);
 }

 .coll {
     background-color: hsl(179, 81%, 40%);
     max-width: 255px;
    
     padding: 7px;
     height: 250px;
 }

 .coll .ptxt {
     color: hsl(180, 18%, 86%);
     font-size: 18px;
     padding: 4px;
     height: 50px;
 }

 .all {
     color: white;
 }

 .col .ptxt {
     font-size: 11px;
     color: hsl(178, 23%, 73%);
     padding: 6px;
 }

 .txt {
     color: hsl(200, 27%, 94%);
     font-size: 30px;
 }

 button {
     width: 100%;
     color: white;
     border-radius: 5px;
     border: none;
     cursor: pointer;
     padding: 9px;
     background-color: hsl(71, 73%, 54%);
 }

@media  screen and (max-width: 600px) {
    #header, .col-6 , .col , .coll{
        max-width: 50%;
    }
}

@media screen and (max-width: 900px) {
#header,
    .col-6,
    .col,
    .coll {
        max-width: 100%;
    }
    body{background-color: black;}
}